@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* The Seasons */
@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/theseasons-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/theseasons-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Pagella */
@font-face {
  font-family: "Pagella";
  src: url("/fonts/texgyrepagella-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pagella";
  src: url("/fonts/texgyrepagella-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pagella";
  src: url("/fonts/texgyrepagella-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}

@theme {
  --color-primary: #c5aded;
  --color-secondary: #cd93c6;
  --color-accent: #512260;
  --color-darkgrey: #2e2e2e;
  --color-white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-theseasons {
  font-family: var(--font-the-seasons);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pagella", serif;
}
